body {
    background-color: #18203f;
    width: 1920px;
    height: 1080px;
}
.flex-container{
    display:grid;
    background-color: transparent;
    gap:10px;
    padding: 10px;
    grid-template-columns: auto auto auto;
}
.flex-container > div{
    background-color: rgb(0, 0, 0);
    padding:10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.imagen1 {
    grid-column-start: 1;
    grid-column-end: 1;
    border-radius: 15px;
}
.imagen2{
    grid-column-start: 1;
    grid-column-end: 2;
}
.tx1{
    grid-column-start: 2;
    grid-column-end: 1;
    border-radius: 15px;
}
