@font-face {
    font-family: "titulos";
    src: url(./tipografias/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: "subtitulos";
    src: url(./tipografias/Barlow-Bold.ttf);
}

@font-face {
    font-family: "texto";
    src: url(./tipografias/OpenSauceOne-SemiBold.ttf);
}

body {
    background-color: black;
    width: 1920px;
    height: 1080px;

    
}


.title {
    position: absolute;
    font-family: "titulos";
    font-size: 130px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 800px;
    font-weight: 700;
    top: 180px; 
    
}

.primera {
    position: absolute;
    width: 700px;
    height: auto;
    top: 600px;
    left: 980px;
}

.tittle {
    position: absolute;
    font-family: "titulos";
    font-size: 130px;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    left: 725px;
    top: 1300px;
}

.logo {
    position: absolute;
    font-family: "subtitulos";
    font-size: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 500px;
    top: -50px;

}
.home {
    position: absolute;
    font-family: "texto";
    font-size: 35px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 1675px;
    top: -25px;

}

.about {
    position: absolute;
    font-family: "texto";
    font-size: 35px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 1850px;
    top: -25px;
}

.menu {
    position: absolute;
    font-family: "texto";
    font-size: 35px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 2025px;
    top: -25px;
}

.contact {
    position: absolute;
    font-family: "texto";
    font-size: 35px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 2200px;
    top: -25px;
}

.cuadroShop {
    position: absolute;
    width: 280px;
    height: 70px;
    background-color: #d67900;
    top: 1650px;
    left:  1230px;

}

.sp {
    position: absolute;
    font-family: "texto";
    font-size: 30px;
    top: -15px;
    left: 60px;

}
.segunda {
    position: absolute;
    width: 1200px;
    height: auto;
    top: 1800px;
    left: 100px;

}

.secondtitle {
    position: absolute;
    font-family: "titulos";
    font-size: 130px;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    left: 1800px;
    top: 1850px;


}

.texto {
    position: absolute;
    font-family: "texto";
    font-size: 28px;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: 100;
    left: 1800px;
    top: 2150px;

}

.cuadroLearn {
    position: absolute;
    width: 280px;
    height: 70px;
    background-color: #d67900;
    top: 2350px;
    left:  1800px;


}

.learnMore {

    position: absolute;
    font-family: "texto";
    font-size: 30px;
    top: -15px;
    left: 60px;
}

.titleTwo {
    position: absolute;
    font-family: "titulos";
    font-size: 100px;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    left: 100px;
    top: 2800px;
    width: 900px;
    height: auto;

}

.textTwo {
    position: absolute;
    font-family: "texto";
    font-size: 28px;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: 100;
    left: 150px;
    top: 3350px;


}

.cuadroMore {
    position: absolute;
    width: 280px;
    height: 70px;
    background-color: #d67900;
    top: 3450px;
    left:  150px;

}

.learn {
    position: absolute;
    font-family: "texto";
    font-size: 30px;
    top: -15px;
    left: 60px;

}

.thirdImg {
    position: absolute;
    width: 700px;
    height: auto;
    top: 2900px;
    left: 1800px;


}

.otherText {
    position: absolute;
    font-family: "titulos";
    font-size: 100px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 100px;
    font-weight: 700;
    top: 3800px; 
}
.cuadro1 {
    position: absolute;
    width: 500px;
    height: 550px;
    top: 4200px;
    left: 200px;
    border: 1px solid #d67900;
    opacity: 1;
}

.cuadro2 {
    position: absolute;
    width: 500px;
    height: 550px;
    top: 4200px;
    right:  200px;
    border: 1px solid #d67900;
    opacity: 1;
}

.cuadro3 {
    position: absolute;
    width: 500px;
    height: 550px;
    top: 4200px;
    left: 1100px;
    border: 1px solid #d67900;
    opacity: 1;
}

.imagen1 {
    position: absolute;
    width: 150px;
    height: auto;
    top: 4100px;
    left: 380px;

}

.imagen2 {
    position: absolute;
    width: 150px;
    height: auto;
    top: 4100px;
    left: 1280px;
}

.imagen3 {
    position: absolute;
    width: 150px;
    height: auto;
    top: 4100px;
    right:  380px;
}

.mocha1 {
    position: absolute;
    font-family: "subtitulo";
    font-size: 40px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 390px;
    top: 4275px;
    font-weight: 1500;

}

.mocha2 {
    position: absolute;
    font-family: "subtitulo";
    font-size: 40px;
    color: white;
    text-align: center;
    justify-content: center;
    right:  390px;
    top: 4275px;
    font-weight: 1500;


}

.mocha3 {
    position: absolute;
    font-family: "subtitulo";
    font-size: 40px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 1290px;
    top: 4275px;
    font-weight: 1500;

}

.espresso1 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 390px;
    top: 4410px;
    font-weight: -100;

}

.espresso2 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 1290px;
    top: 4410px;
    font-weight: -100;

}

.espresso3 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    right: 390px;
    top: 4410px;
    font-weight: -100;

}

.choco1 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 390px;
    top: 4450px;
    font-weight: -100;
}

.choco2 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 1290px;
    top: 4450px;
    font-weight: -100;
}

.choco3 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    right: 380px;
    top: 4450px;
    font-weight: -100;
}

.milk1 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 390px;
    top: 4490px;
    font-weight: -100;
}

.milk2 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    left: 1290px;
    top: 4490px;
    font-weight: -100;
}

.milk3 {
    position: absolute;
    font-family: "texto";
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    right: 340px;
    top: 4490px;
    font-weight: -100;
}

.last1 {
    position: absolute;
    width: 280px;
    height: 70px;
    background-color: #d67900;
    top: 4650px;
    left:  330px;

}

.last2 {
    position: absolute;
    width: 280px;
    height: 70px;
    background-color: #d67900;
    top: 4650px;
    left:  1230px;

}

.last3 {
    position: absolute;
    width: 280px;
    height: 70px;
    background-color: #d67900;
    top: 4650px;
    right: 280px;

}

.learn1 {
    position: absolute;
    font-family: "texto";
    font-size: 30px;
    top: -15px;
    left: 60px;

}

.learn2 {
    position: absolute;
    font-family: "texto";
    font-size: 30px;
    top: -15px;
    left: 60px;

}

.learn3 {
    position: absolute;
    font-family: "texto";
    font-size: 30px;
    top: -15px;
    left: 60px;

}