

.fondo{
    position: relative;
    width: 7380px;
    height: 3700px;
}

.sol {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 0px;
}



#nube {
    position: absolute;
    width: 2000px;
    height: 1000px;
    top: 0px;
    background: url(./images/nube-removebg-preview.png);
    margin: auto;
    animation: salir 2s;

}

@keyframes salir {
    from{background-position: 0%;}
    to{background-position: 60%;}


}