body {
    width: 1080px;
    height: 1920px;

}

.fondo{
    position: relative;
    width: 7380px;
    height: 3700px;
}

.sol {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 0px;
}



.nube {
    position: absolute;
    width: 1400px;
    height: 1000px;
    top: 0px;
    left: 600px;
    background: url(./images/nube-removebg-preview.png);
    animation: salir .-10s steps(6) infinite;
}

@keyframes salir {
    from {background-position: 0px;}
    to {background-position: 600px;}
}